<div class="app">
  <lib-generic-form-input [inputName]="email" [inputType]="'email'" [placeHolder]="'Votre email'">
  </lib-generic-form-input>
  <lib-generic-form-input [inputName]="email" [inputType]="'email'" [placeHolder]="'Votre email'">
  </lib-generic-form-input>
</div>
